<h1>welcome to
  <svg class="svg-inline--fa fa-book fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="book" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg>…</svg>
  <strong>Bookers</strong>"!!"
</h1>

<p>you can share and exchange your opinions , inpressions , and emotions</p>
<p> about various books!</p>


<%= link_to "Log in", new_user_session_path %>

<%= link_to "Sign up", new_user_registration_path %>

<p>CopyRight Infratop.inc</p>